@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@500&display=swap');


button{
    border-radius:0px !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  !important;
    font-style:bold;
}
input{
    border-radius:0px !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  !important;
}

.card .card-text span:nth-child(4){
    display:none !important;
}
.card{
  border-radius: 0px;
}

.topnav {
  font-family: 'Anek Bangla', sans-serif !important;
    overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Anek Bangla', sans-serif !important;
    font-weight: bold;
}

.topnav a:hover {
  background-color: #ff5959;
  color: black;
}

.topnav a.active {
  background-color: #ff0000;
  color: white;
}

.topnav .icon {
  display: none;
  color:white !important;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.right-lnk {
   float: right;
}

.card-body{
    border-radius:0px;
}

.col-6 a {
    cursor: pointer !important;
    scale:.9  !important;
    transition:.3s;
}

select{
    border-radius:0px;
}

.card img{
    margin-bottom:1rem !important;
  }